
/* All Website */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#body {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer{
    background-color: #212529;
    margin-top: auto;
}

.footerFollow{
    font-family: 'Oswald', sans-serif;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

.footerUl{
    list-style-type: none;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: space-around;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

/* Index Desktop */

@media (min-width:992px) {

    #mainIndex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #articleNameIndex{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 300px;
    }

    .nameIndex{
        font-family: 'Oswald', sans-serif;
        font-size: 600%;
        font-weight: bold;
        text-align: center;
    }

    .hobbysIndex{
        font-family: 'Poppins', sans-serif;
        font-size: 250%;
        font-weight: bold;
        text-align: center;
    }

    #articleAboutMeIndex{
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-items: center;
        align-items: center;
    }

    .nameAboutMeIndex{
        font-family: 'Oswald', sans-serif;
        font-size: 350%;
        font-weight: 500;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: end;
        margin: 50px;
    }

    .aboutMeIndex{
        font-family: 'Poppins', sans-serif;
        font-size: 120%;
        font-weight: 500;
        text-align: center;
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: start;
        margin: 50px;
    }

    .imageAboutMeIndex{
        width: 50%;
        height: auto;
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 10px;
    }

    #articleProjectsIndex{
        grid-column: 1/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3, auto);
    }

    .projectsTitleIndex{
        font-family: 'Oswald', sans-serif;
        font-size: 600%;
        font-weight: bold;
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .projectsWebProgramming{
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        align-items: center;
    }

    .projectsTextWebProgramming{
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 3%;
    }

    .projectsCrunchyrollLinkImage{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }

    .projectsCrunchyrollImage{
        width: 100%;
        height: auto;
    }

    .projectsHidiveLinkImage{
        grid-column: 2/3;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }

    .projectsHidiveImage{
        width: 100%;
        height: auto;
    }

    .projectsVideoEditor{
        grid-column: 1/3;
        grid-row: 3/4;
        padding-top: 2%;
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        align-items: center;
    }

    .projectsTextVideoEditor{
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 3%;
    }

    .projectsYoutubeVideo {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .projectsTiktokVideo {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

/* Index Mobile */

@media (max-width:991px) {

    #mainIndex {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }
    
    #articleNameIndex{
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        padding-top: 5%;
        padding-bottom: 5%;
        justify-items: center;
        align-items: center;
    }
    
    .nameIndex{
        font-family: 'Oswald', sans-serif;
        font-size: 300%;
        font-weight: bold;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .hobbysIndex{
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
     #articleAboutMeIndex{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        justify-items: center;
        align-items: center;
    }
    
    .nameAboutMeIndex{
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .aboutMeIndex{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .imageAboutMeIndex{
        width: 35%;
        height: auto;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    #articleProjectsIndex{
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        align-items: center;
        row-gap: 2%;
    }
    
    .projectsTitleIndex{
        font-family: 'Oswald', sans-serif;
        font-size: 250%;
        font-weight: bold;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .projectsWebProgramming{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        align-items: center;
        row-gap: 2%;
    }
    
    .projectsTextWebProgramming{
        font-family: 'Poppins', sans-serif;
        font-size: 125%;
        font-weight: bold;
        text-align: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .projectsCrunchyrollLinkImage{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }
    
    .projectsCrunchyrollImage{
        width: 100%;
        height: auto;
    }
    
    .projectsHidiveLinkImage{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 75%;
        height: auto;
    }
    
    .projectsHidiveImage{
        width: 100%;
        height: auto;
    }
    
    .projectsVideoEditor{
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        align-items: center;
        padding-bottom: 10%;
    }
    
    .projectsTextVideoEditor{
        font-family: 'Poppins', sans-serif;
        font-size: 125%;
        font-weight: bold;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .projectsYoutubeVideo {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .projectsTiktokVideo {
        grid-column: 1/2;
        grid-row: 3/4;
    } 
    }
  
/* About Desktop */

@media (min-width:992px) {

    #articleAboutMeAbout {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: auto auto;
        margin-bottom: 3%;
    } 

    .aboutMeAbout {
        grid-column: 2/8;
        grid-row: 1/2;
        margin-top: 3%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .aboutMeTitleAbout{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .aboutMeTextAbout{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 2%;
    } 

    .educationAbout{
        grid-column: 2/8;
        grid-row: 3/4;
        margin-top: 3%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .educationTitleAbout{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .educationText1About{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 2%;
    }

    .educationText2About{
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 2%;
    }
}

/* About Mobile */

@media (max-width:991px) {

    #articleAboutMeAbout {
        margin-top: 3%;
        margin-bottom: 3%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto auto;
        row-gap: 2%;
    } 

    .aboutMeAbout {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-items: center;
        align-items: center;
        row-gap: 3%;
    }

    .aboutMeTitleAbout{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .aboutMeTextAbout{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 3%;
        padding-right: 3%;
    } 

    .educationAbout{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        justify-items: center;
        align-items: center;
        row-gap: 3%;
    }

    .educationTitleAbout{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .educationText1About{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 3%;
        padding-right: 3%;
    }

    .educationText2About{
        grid-column: 1/2;
        grid-row: 3/4;
        padding-left: 3%;
        padding-right: 3%;
    }
}

/* Portafolio Mini Desktop */

@media (min-width:992px) and (max-width:1628px) {

    #mainPortafolio {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);    
    }

    .articlenWebProgamingPortafolio{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .sectionWebProgamingPortafolio {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        align-items: center;
    }

    .webProgrammingTitlePortafolio {
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: 'Oswald', sans-serif;
        font-size: 350%;
        font-weight: normal;
        text-align: center;
        padding: 3%;
    }

    .webProgrammingCrunchyrollLinkPortafolio {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }

    .webProgrammingCrunchyrollImagePortafolio {
        width: 100%;
        height: auto;
    }

    .webProgrammingHidiveLinkPortafolio {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }

    .webProgrammingHidiveImagePortafolio{
        width: 100%;
        height: auto;
    }

    .webProgrammingFunimationLinkPortafolio {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }

    .webProgrammingFunimationImagePortafolio {
        width: 100%;
        height: auto;
    }

    .articleVideoEditorPortafolio{
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        align-items: center;
    }

    .videoEditorTitlePortafolio{
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: 'Oswald', sans-serif;
        font-size: 350%;
        font-weight: normal;
        text-align: center;
        padding: 3%;
    }

    .sectionYoutubePortafolio{
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: auto 2% auto 2% auto;
        grid-template-rows: auto 2% auto 2% auto ;
    }

    .youtubeTitlePortafolio {
        grid-column: 1/6;
        grid-row: 1/2;
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        padding-bottom: 2%;
    }

    .youtube1VideoPortafolio {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .youtube2VideoPortafolio {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .youtube3VideoPortafolio {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .sectionShortsPortafolio{
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: auto 2% auto 2% auto;
        grid-template-rows: auto 2% auto 2% auto 2% auto 2% 1fr 2% 1fr;
        padding-bottom: 5%;
    }

    .tiktokTitlePortafolio {
        grid-column: 1/6;
        grid-row: 1/2;
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        padding: 5% 5%;
    }

    .tiktok1Portafolio {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .tiktok2Portafolio {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .tiktok3Portafolio {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .youtubeShortsTitlePortafolio {
        grid-column: 1/6;
        grid-row: 7/8;
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        padding: 2% 2%;
    }

    .youtube1ShortsPortafolio {
        grid-column: 1/2;
        grid-row: 9/10;
    }

    .youtube2ShortsPortafolio {
        grid-column: 3/4;
        grid-row: 9/10;
    }

    .youtube3ShortsPortafolio {
        grid-column: 1/2;
        grid-row: 11/12;
    }
}

/* Portafolio Desktop */

@media (min-width:1629px) {

    #mainPortafolio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .articlenWebProgamingPortafolio{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .sectionWebProgamingPortafolio {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        align-items: center;
    }

    .webProgrammingTitlePortafolio {
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: 'Oswald', sans-serif;
        font-size: 350%;
        font-weight: normal;
        text-align: center;
        padding: 3%;
    }

    .webProgrammingCrunchyrollLinkPortafolio {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }

    .webProgrammingCrunchyrollImagePortafolio {
        width: 100%;
        height: auto;
    }

    .webProgrammingHidiveLinkPortafolio {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }

    .webProgrammingHidiveImagePortafolio{
        width: 100%;
        height: auto;
    }

    .webProgrammingFunimationLinkPortafolio {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 75%;
        height: auto;
    }

    .webProgrammingFunimationImagePortafolio {
        width: 100%;
        height: auto;
    }

    .articleVideoEditorPortafolio{
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        align-items: center;
    }

    .videoEditorTitlePortafolio{
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: 'Oswald', sans-serif;
        font-size: 350%;
        font-weight: normal;
        text-align: center;
        padding: 3%;
    }

    .sectionYoutubePortafolio{
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 1%;
    }

    .youtubeTitlePortafolio {
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        padding-bottom: 2%;
    }

    .youtube1VideoPortafolio {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .youtube2VideoPortafolio {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .youtube3VideoPortafolio {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .sectionShortsPortafolio{
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        padding-bottom: 5%;
        column-gap: 1%;
    }

    .tiktokTitlePortafolio {
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        padding: 2% 2%;
        column-gap: 1%;
    }

    .tiktok1Portafolio {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .tiktok2Portafolio {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .tiktok3Portafolio {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .youtubeShortsTitlePortafolio {
        grid-column: 1/4;
        grid-row: 3/4;
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        padding: 2% 2%;
    }

    .youtube1ShortsPortafolio {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .youtube2ShortsPortafolio {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .youtube3ShortsPortafolio {
        grid-column: 3/4;
        grid-row: 4/5;
    }
}

/* Portafolio Mobile */

@media (max-width:991px) {

     #mainPortafolio {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 2% auto 2% auto;
        padding-bottom: 50%;
    }

    #footer{
        grid-column: 1/2;
        grid-row: 3/4;
    }


    .articlenWebProgamingPortafolio{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .sectionWebProgamingPortafolio {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: 2% auto 2% auto 2% auto 2% auto;
        justify-items: center;
        align-items: center;
    }

    .webProgrammingTitlePortafolio {
        grid-column: 1/2;
        grid-row: 2/3;
        font-family: 'Oswald', sans-serif;
        font-size: 250%;
        font-weight: normal;
        text-align: center;
    }

    .webProgrammingCrunchyrollLinkPortafolio {
        grid-column: 1/2;
        grid-row: 4/5;
        width: 75%;
        height: auto;
    }

    .webProgrammingCrunchyrollImagePortafolio {
        width: 100%;
        height: auto;
    }

    .webProgrammingHidiveLinkPortafolio {
        grid-column: 1/2;
        grid-row: 6/7;
        width: 75%;
        height: auto;
    }

    .webProgrammingHidiveImagePortafolio{
        width: 100%;
        height: auto;
    }

    .webProgrammingFunimationLinkPortafolio {
        grid-column: 1/2;
        grid-row: 8/9;
        width: 75%;
        height: auto;
    }

    .webProgrammingFunimationImagePortafolio {
        width: 100%;
        height: auto;
    }

    .articleVideoEditorPortafolio{
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2% auto 2% auto 2% auto;
        justify-items: center;
        align-items: center;
    }

    .videoEditorTitlePortafolio{
        grid-column: 1/2;
        grid-row: 2/3;
        font-family: 'Oswald', sans-serif;
        font-size: 250%;
        font-weight: normal;
        text-align: center;
    }

    .sectionYoutubePortafolio{
        grid-column: 1/2;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2% auto 2% auto 2% auto 2% auto;
    }

    .youtubeTitlePortafolio {
        grid-column: 1/2;
        grid-row: 2/3;
        font-family: 'Poppins', sans-serif;
        font-size: 150%;
        font-weight: bold;
        text-align: center;
    }

    .youtube1VideoPortafolio {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .youtube2VideoPortafolio {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .youtube3VideoPortafolio {
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .sectionShortsPortafolio{
        grid-column: 1/2;
        grid-row: 6/7;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2% auto 2% auto 2% auto 
        2% auto 2% auto 2% auto 2% auto 2% auto;
    }

    .tiktokTitlePortafolio {
        grid-column: 1/2;
        grid-row: 2/3;
        font-family: 'Poppins', sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
    }

    .tiktok1Portafolio {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .tiktok2Portafolio {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .tiktok3Portafolio {
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .youtubeShortsTitlePortafolio {
        grid-column: 1/2;
        grid-row: 10/11;
        font-family: 'Poppins', sans-serif;
        font-size: 150%;
        font-weight: bold;
        text-align: center;
    }

    .youtube1ShortsPortafolio {
        grid-column: 1/2;
        grid-row: 12/13;
    }

    .youtube2ShortsPortafolio {
        grid-column: 1/2;
        grid-row: 14/15;
    }

    .youtube3ShortsPortafolio {
        grid-column: 1/2;
        grid-row: 16/17;
    }
}

/* Blog Desktop */

@media (min-width:992px) {
    #mainBlog {
        display: grid;
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 3% auto auto 3%;
        padding-bottom: 25%;
    }
    
    .articleAboutTextBlog {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .sectionAboutTextBlog {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 2% auto;
    }

    .aboutTitleBlog {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .aboutTextBlog {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .articleEntryBlog {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .sectionEntryBlog {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 4% auto 4% auto 4% auto;
    }

    .entry1Blog {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .entryTitle1Blog {
        grid-column: 1/2;
        grid-row: 1/2;  
    }
    .entryPhoto1Blog {
        grid-column: 1/2;
        grid-row: 2/3; 
        width: 60%;
        height: auto;
    }
    .entryText1Blog {
        grid-column: 2/3;
        grid-row: 2/3; 
    }
    .entry2Blog {
        grid-column: 1/2;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .entryTitle2Blog {
        grid-column: 1/2;
        grid-row: 1/2;  
    }
    .entryPhoto2Blog {
        grid-column: 1/2;
        grid-row: 2/3; 
        width: 90%;
        height: auto;
    }
    .entryText2Blog {
        grid-column: 2/3;
        grid-row: 2/3; 
    }
    .entry3Blog {
        grid-column: 1/2;
        grid-row: 6/7;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .entryTitle3Blog {
        grid-column: 1/2;
        grid-row: 1/2;  
    }
    .entryPhoto3Blog {
        grid-column: 1/2;
        grid-row: 2/3; 
        width: 65%;
        height: auto;
    }
    .entryText3Blog {
        grid-column: 2/3;
        grid-row: 2/3; 
    }
}

/* Blog Mobile */

@media (max-width:992px) {
    #mainBlog {
        display: grid;
        grid-template-columns: 3% auto 3%;
        grid-template-rows: 3% auto auto 3%;
        padding-bottom: 50%;
    }
    
    .articleAboutTextBlog {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .sectionAboutTextBlog {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 2% auto;
        justify-items: center;
        align-items: center;
        row-gap: 2%;
    }

    .aboutTitleBlog {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .aboutTextBlog {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .articleEntryBlog {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .sectionEntryBlog {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 4% auto 4% auto 4% auto;
    }

    .entry1Blog {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        row-gap: 2%;
        justify-items: center;
        align-items: center;
    }
    .entryTitle1Blog {
        grid-column: 1/2;
        grid-row: 1/2;  
    }
    .entryPhoto1Blog {
        grid-column: 1/2;
        grid-row: 2/3; 
        width: 60%;
        height: auto;
    }
    .entryText1Blog {
        grid-column: 1/2;
        grid-row: 3/4; 
    }
    .entry2Blog {
        grid-column: 1/2;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        row-gap: 2%;
        justify-items: center;
        align-items: center;
    }
    .entryTitle2Blog {
        grid-column: 1/2;
        grid-row: 1/2;  
    }
    .entryPhoto2Blog {
        grid-column: 1/2;
        grid-row: 2/3; 
        width: 90%;
        height: auto;
    }
    .entryText2Blog {
        grid-column: 1/2;
        grid-row: 3/4; 
    }
    .entry3Blog {
        grid-column: 1/2;
        grid-row: 6/7;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        row-gap: 2%;
        justify-items: center;
        align-items: center;
    }
    .entryTitle3Blog {
        grid-column: 1/2;
        grid-row: 1/2;  
    }
    .entryPhoto3Blog {
        grid-column: 1/2;
        grid-row: 2/3; 
        width: 65%;
        height: auto;
    }
    .entryText3Blog {
        grid-column: 1/2;
        grid-row: 3/4; 
    }
}

/* Contact Desktop */

@media (min-width:992px) {

    .articleContact{
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 2%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
    }

    .sectionFormContact{
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .formContact {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(9, auto);
    }

    .nameTitleFormContact {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .nameInputFormContact{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .lastnameTitleFormContact{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .lastnameInputFormContact{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .emailTitleFormContact{
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .emailInputFormContact{
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .messageTitleFormContact{
        grid-column: 1/2;
        grid-row: 7/8;
    }

    .messageInputFormContact{
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .submitFormContact{
        grid-column: 1/2;
        grid-row: 9/10;
    }

    .sectionTextContact{
        grid-column: 1/2;
        grid-row: 1/3;
    }
}

/* Contact Mobile */

@media (max-width:991px) {

    .articleContact{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        row-gap: 2%;
    }

    .sectionFormContact{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .formContact {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(9, auto);
        row-gap: 2%;
    }

    .nameTitleFormContact {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .nameInputFormContact{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .lastnameTitleFormContact{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .lastnameInputFormContact{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .emailTitleFormContact{
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .emailInputFormContact{
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .messageTitleFormContact{
        grid-column: 1/2;
        grid-row: 7/8;
    }

    .messageInputFormContact{
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .submitFormContact{
        grid-column: 1/2;
        grid-row: 9/10;
    }

    .sectionTextContact{
        grid-column: 1/2;
        grid-row: 1/2;
    }
}