
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#body {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
}

#articleNameIndex{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 300px;
}

.nameIndex{
    font-family: 'Oswald', sans-serif;
    font-size: 600%;
    font-weight: bold;
    text-align: center;
}

.hobbysIndex{
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
}

#articleAboutMeIndex{
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
}

.nameAboutMeIndex{
    font-family: 'Oswald', sans-serif;
    font-size: 350%;
    font-weight: 500;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    margin: 50px;
}

.aboutMeIndex{
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    font-weight: 500;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: start;
    margin: 50px;
}

.imageAboutMeIndex{
    width: 50%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/3;
}

#articleProjectsIndex{
    grid-column: 1/3;
    grid-row: 3/4;
}

.projectsTitleIndex{
    font-family: 'Oswald', sans-serif;
    font-size: 600%;
    font-weight: bold;
    text-align: center;
}

.projectsTextWebProgramming{
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.projectsCrunchyrollImage{
}

.projectsHidiveImage{
}

.projectsTextVideoEditor{
}

.projectsYoutubeVideo {
}

.projectsTiktokVideo {

}

#footer{
    background-color: #212529;
    margin-top: auto;
}

.footerFollow{
    font-family: 'Oswald', sans-serif;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

.footerUl{
    list-style-type: none;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: space-around;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  